@model IEnumerable<Employee>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-4">
    <h1>Employee Index</h1>

    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>

    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Firstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lastname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DOB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfHire)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ManagerId)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DOB)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfHire)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ManagerId)
                    </td>
                    <td>
                        <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a>
                        <a class="btn btn-success" asp-action="Details" asp-route-id="@item.EmployeeId">Details</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
