@model IEnumerable<QuarterlySales.Models.SalesData>

@{
    ViewData["Title"] = "SalesData Index";
}

<div class="container mt-4">
    <h1>SalesData Index</h1>

    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>

    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Quarter)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeId)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quarter)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.SalesDataId">Edit</a>
                        <a class="btn btn-success" asp-action="Details" asp-route-id="@item.SalesDataId">Details</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.SalesDataId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
